{% extends 'base.html' %}
{% load static %}

{% block page_title %}
Home
{% endblock %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'Expense/expense.css' %}">
{% endblock %}

{% block content %}

<h1 class="heading">All Expenses</h1>

<ul class="expense-list">

    <li class="expense-header">
        <span>Title</span>
        <span>Category</span>
        <span>Amount</span>
        <span>Date</span>
    </li>

    {% for exp in expense %}
    <li class="expense-card">

        <span class="expense-title">
            {{ exp.title }}
        </span>

        <span class="expense-category">
            {{ exp.category }}
        </span>
        <span class="expense-amount">
            ₹{{ exp.amount }}
        </span>
<div class="expense-date">
    {{ exp.date|date:"d M Y" }}

    <form action="{% url 'delete' exp.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">&#10060;</button>
    </form>
</div>
<div class="expense-edit">
    <a href="{% url 'edit' exp.id %}" class="edit-btn">
        Edit
    </a>
</div>
    </li>
    {% empty %}
    <li class="expense-card" style="color: white;">
        No expenses found.
    </li>
    {% endfor %}

</ul>

{% endblock %}